<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Rems Blog</title>
</head>
<body>
    <header>
        <h1>Tech Rems Blog</h1>
    </header>
   
    <p>Hi there!</p>
    <p>
        You are welcome to Tech Rems Blog.
        Here, we give you blog content that are tech wise both on Job and in School.
        You should consider checking our YouTube Channel <a href="https://youtube.com/@techrems">Here</a>.
    </p>

    {% for post in posts %}
        <article>
            <time>Published: {{ post.published_date }}</time>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
        {{ post }}
    {% endfor %}

</body>
</html>