<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Rems Blog</title>
</head>
<body>
    <header>
        <h1>Tech Rems Blog</h1>
    </header>
   
    <p>Hi there!</p>
    <p>
        You are welcome to Tech Rems Blog.
        Here, we give you blog content that are tech wise both on Job and in School.
        You should consider checking our YouTube Channel <a href="https://youtube.com/@techrems">Here</a>.
    </p>

    <article>
        <time>Published 30-06-2023, 10:00pm</time>
        <h2><a href="">Our First Post</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ipsa deleniti, tempora dolorem corrupti quibusdam vel pariatur numquam minima quas consequuntur labore saepe illo cum quo quia tenetur enim corporis.</p>
    </article>

    <article>
        <time>Published 29-06-2023, 10:10pm</time>
        <h2><a href="">Our Second Post</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ipsa deleniti, tempora dolorem corrupti quibusdam vel pariatur numquam minima quas consequuntur labore saepe illo cum quo quia tenetur enim corporis.</p>
    </article>
</body>
</html>